/* Will be compiled down to a single stylesheet with your sass files */
.left { 
  float: left;
}
.right {
  float: right;
}
input {
  margin-bottom: 0px !important; //override bootstrap
}
.header { 
  padding-top: 30px;
}
.title {
  display: inline;
}
.login input, .login button {
  float: left;
  display: inline;
  margin: 4px;
}
.clear {
  clear: both;
}
.welcome {
  float: right;
}
