<h1 class="title">Yerba Buena Stories</h1>

<div ng-include src="'views/_user_login.html'"></div>
<div class="clear"></div>

<div ng-include src="'views/_user_login_error.html'"></div>

<div ng-controller="StoryCtrl">
  <h1>Add a story</h1>
  <form ng-submit="addStory()">
    <input ng-model="name" type="text" placeholder="Once upon a time..." />
    <input ng-model="points" type="number" placeholder="0" />
    <input class="btn btn-primary" type="submit" value="add" />
  </form>
  <p>Total Points: <span ng-bind="totalPoints()"></span></p>
  <ul>
    <li ng-repeat="story in stories">
      {{story.name}} {{story.points}}
    </li>
  </ul>
</div>
