<div class="header">
  <div class="left">
    <h1 class="title">
      <img src="/images/angular-logo.jpg" width="50" height="50" /> 
      Yerba Buena Stories
    </h1>
  </div>

  <div class="right">
    <div ng-show="currentUser">
      <h4 class='welcome'>Welcome {{currentUser.username}}</h4>
    </div>

    <div ng-show="!currentUser">
      <div ng-include src="'views/_user_login.html'"></div>
    </div>
  </div>
</div>

<div class="clear"></div>
<div ng-show="loginFailed" ng-include src="'views/_user_login_error.html'"></div>

<div ng-controller="IterationCtrl">
  <h1>Stories</h1>
  <form ng-submit="addStory()">
    <input ng-model="name" required type="text" placeholder="Story name" />
    <input ng-model="points" required type="number" placeholder="Points" />
    <input class="btn btn-primary" type="submit" value="Add" />
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Story</th>
        <th>Points: <span ng-bind="iteration.totalPoints()"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="story in iteration.stories">
        <td ng-bind="story.name"></td>
        <td ng-bind="story.points"></td>
      </tr>
    </tbody>
  </table>
</div>
