<h1 class="title">Yerba Buena Stories</h1>

<div ng-controller="UserCtrl" class="login">

  <input ng-model="username" type="text" class="input-small" placeholder="Username">
  <input ng-model="password" type="password" class="input-small" placeholder="Password">
  <button type="submit" class="btn btn-primary" ng-click="authenticate(username, password)">Sign in</button>

</div>

<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>

